/*カスタマイザー
-------------------------------------*/
.customize-control-title {
	background:#e4e4e4;
	padding:10px;
}

.customize-control-checkbox label, .customize-control-nav_menu_auto_add label, .customize-control-radio label {
	padding:0 0 5px 0!important;
}

.form-wrap p, p.description, p.help, span.description {
	font-style: normal!important;
}

#accordion-section-stpattern h3.accordion-section-title {
	background-image: url(images/beginner.png);
	background-repeat: no-repeat;
	background-position: left 50%;
	padding-left:30px;
}

/*テーマ管理画面
-------------------------------------*/
#colorchice{
	border:1px dotted #ccc;
	padding: 0 20px;
	margin-bottom:10px;
	background:#fbfbfb;
}

.fa {
	margin-right:10px;
}
#mokuzi {
	padding: 10px 20px 20px;
	margin:0 -10px 20px;
	border-bottom:1px solid #ccc;
	font-size:18px;
}
.st-mokuzi {
	padding:10px;
	margin-bottom:10px;
	border:1px solid #ccc;
	background-color:#f3f3f3;
	width:100%
	box-sizing:border-box;
}
.st-mokuzi-l{
	float:left;width:50%;
	box-sizing:border-box;
	list-style:disc;
	padding-left:30px;
}
.st-mokuzi-r{
	float:right;width:50%;
	box-sizing:border-box;
	list-style:disc;
	padding-left:30px;
}

.st-mokuzi-s{
	list-style:disc;
	padding-left:30px;
}

body .st-mokuzi li a{
	font-size:16px;
	font-weight:bold;
	line-height:26px;
}

body .st-mokuzi li{
	padding: 5px 0;
	list-style:none;
}

/*placeholder*/
input::-webkit-input-placeholder {
    color: #E0E0E0;
}
input:-ms-input-placeholder {
    color: #E0E0E0;
}
input::-moz-placeholder {
    color: #E0E0E0;
}

h4 {
	font-size:16px;
	padding:10px;
	background-color: rgba(255,255,255,0.7);
}

/*h5*/
.sth5 {
	font-size:1em;
	margin-bottom:5px;
}